/* reset predefined styles */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* set variables for colors and spaces */
:root{

    --c-caramel : #FF7400;
    --c-milk : #FFFFFF;
    --c-dark-choco : #2C0801;
    --c-sec-500 : #BABABA;
    --c-sec-900 : #141414; 

    --space-05 : .5em;
    --space-1 : 1em;
    --space-2 : 2em;
    --space-3 : 3em;
    --space-4 : 4em;

}

body {
    background-image:url("assets/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


/* homepage title*/
#homepage-title {
  color: var(--c-dark-choco);
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}

/* centered dark-choco container */
#air-container-1 {
  background-color: var(--c-dark-choco);
  width: 80%;            
  max-width: 400px;      /* limits size on big screens */
  height: 40%;           /* doesn’t cover full height */
  max-height: 300px;

  margin: 1rem auto;     /* centers horizontally with top/bottom space */
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*
  flex-wrap: wrap;
  align-content: space-between;
  */
  padding: 1rem;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}


/* centered dark-choco container 2*/
#air-container-2 {
  background-color: var(--c-dark-choco);
  width: 80%;            
  max-width: 400px;      /* limits size on big screens */
  height: 40%;           /* doesn’t cover full height */
  max-height: 300px;

  margin: 1rem auto;     /* centers horizontally with top/bottom space */
  border-radius: 1rem;

  /*
  flex-wrap: wrap;
  align-content: space-between;
  */
  padding: 1rem;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}


#sun {
    width: 120px;
    height: 120px;
    background-color: var(--c-caramel);
}

#percentage1 {
    width: 60px;
    height: 60px;
    background-color: var(--c-dark-choco);
}

#percentage2 {
    width: 60px;
    height: 60px;
    background-color: var(--c-dark-choco);
}




/* spacing */
.rowGap{
  row-gap: var(--space-05);
}


/* class utilities for flexbox */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}

.flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.self-start {
  align-self: flex-start;
}

.self-end{
  align-self: flex-end;
}

body {

    /* base font size and family */
    font-size : 16px;
    font-family: "Inter", sans-serif;

    h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: var(--space-1);
}

    /* how to use variables */
    background-color : var(--c-sec-100);

  
}

/* class colors*/


.is-white {
  color: var(--c-milk);
}

.is-orange{
  color: var(--c-caramel);
}



/* issues with size

#air-container-1 {
  background-color: var(--c-dark-choco);
  width: 80%;            
  max-width: 400px;      
  height: 40%;           
  max-height: 300px;

  margin: 1rem auto;     
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 1rem;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

#air-container-2 {
  background-color: var(--c-dark-choco);
  width: 80%;            
  max-width: 400px;      
  height: 40%;       
  max-height: 300px;

  margin: 1rem auto;    
  border-radius: 1rem;

  padding: 1rem;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}*/